.filter-box {
    position: relative;
}

.select-element {
    width: 15rem;
    outline: none;
    border: none;
    background: #fff;
    border-radius: 5px;
    appearance: none; 
    padding: 20px 5px 20px 20px;
    font-weight: 500;
    font-size: 1rem;
}

.icon-filter {
    font-size: 1rem;
    opacity: .8;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}